body { 
  background-color: #DA1035;
  font-family: Tahoma;
}

.nav {
  background-color: rgba(255, 255, 255, 0);
  list-style-type: none;
  text-align: left;
  margin-top: 50px;
  padding: 0px;
  border-radius: 5px;
}

.nav li {
  display: inline-block;
  background-color: #000000;
  padding: 15px;
  border-radius: 10px;
  font-size: 20px;
  border: 2px solid white;
  transition-duration: 0.3s;
  cursor: pointer;
}

.nav a{
  color: #ffffff;
  padding: 15px 3px;
  transition-duration: 0.3s;
  text-decoration: none;
}

.logo {
  margin-top: -40px;
  float: left;
}

.popbutton {
    background-color: black;
    color: white;
    border: 2px solid white;
    cursor: pointer;
    transition-duration: 0.3s;
    border-radius: 10px;
    text-decoration: none;
    font-size:20px;
}

.popbutton:hover {
    background-color:#555555;
    color:black;
}

.nav li:hover {
    background-color:#555555;
}

.nav a:hover {
    color:black;
}

.centerbox {
    width:25%;
    height:40%;
    background-color:#dddddd;
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    margin:0;
    border: 2px solid black;
    border-radius:20px;
}

.centerform {
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    text-align:center;
    margin:0;     
}
