body { 
  background-color: #DA1035;
  font-family: Tahoma;
}

.nav {
  background-color: #DA1035;
  list-style-type: none;
  text-align: left;
  margin-top: 50px;
  padding: 0px;
  border-radius: 5px;
  
}

.nav li {
  display: inline-block;
  background-color: #000000;
  padding: 15px;
  border-radius: 10px;
  font-size: 20px;
  
}

.nav a{
  color: #ffffff;
}

.logo {
  margin-top: -40px;
  float: left;
}